<section class="section background">
  <div class="section__title">A bit about me...</div>
  <div class="section__content">
    <p>
      I'm currently a Computing and Financial Management Undergraduate at the
      <a class="underline-link" href="https://uwaterloo.ca/" target="_blank" rel="noopener">University of Waterloo</a> 
      (also pursuing a minor in combinatorics and optimization), learning how to create powerful code and useful technical 
      products. I have so far completed two four-month co-ops at <a class="underline-link" href="https://www.wawanesa.com/canada/" target="_blank" rel="noopener">
      Wawanesa Insurance</a> and <a class="underline-link" href="https://www2.deloitte.com/ca/en.html" target="_blank" rel="noopener">Deloitte</a>
      , and I am currently undergoing a four-month co-op at <a class="underline-link" href="https://www.lcbonext.com" target="_blank" rel="noopener">LCBO|next</a>.
    </p>

    <p>
      As a full-stack developer, I enjoy bridging powerful back-end code with beautiful front-end design &mdash; combining my 
      technical knowledge with my keen eye for design to create a beautiful product. My goal is to always build applications 
      that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences. In addition, I 
      love using blockchain technologies whenever possible, including Corda, Fabric, and Ethereum.
    </p>
    
    <p>
      As a product manager, I have an obsessive desire to design and ship consumer-loving and money-making apps. As any 
      cultured person, I use Agile for the best product development process, consistently acting as a liasion between 
      strategy, design, and development teams while juggling product roadmaps and a venti vanilla ice coffee. I pride myself 
      in being a collaborator &mdash; <b> not a dictator </b>, supporting my team and helping them grow while maintaining 
      tight deadlines. Being from a technical background, I pride myself in understanding tech-speak and through my 
      extensive UX experiences, I live and breathe consumer journey maps. I always look for the simplest, cost-effective 
      solution &mdash; even if it isn't technical.
    </p>

    <p>
      <strong>When I'm not developing or ideating</strong>, I'm probably helping the Stack Overflow community, browsing Reddit, watching NBA games, or racking up some victories in Overwatch.
    </p>

    {% include employment-status.html %}
  </div>
</section>
