<section class="section background">
  <div class="section__title">A bit about me...</div>
  <div class="section__content">
    <p>
      I'm currently a computing and financial management undergraduate at the
      <a class="underline-link" href="https://uwaterloo.ca/" target="_blank" rel="noopener">University of Waterloo</a> 
      (also pursuing a minor in combinatorics and optimization), learning how to create powerful code and useful technical 
      products. I have so far completed three internships at <a class="underline-link" href="https://www.wawanesa.com/canada/" target="_blank" rel="noopener">
      Wawanesa Insurance</a>, <a class="underline-link" href="https://www2.deloitte.com/ca/en.html" target="_blank" rel="noopener">Deloitte</a>, 
      and <a class="underline-link" href="https://www.lcbonext.com" target="_blank" rel="noopener">LCBO|next</a>.
    </p>

    <p>
      As a <strong>full-stack developer</strong>, I enjoy bridging <strong>powerful back-end code</strong> with <strong>beautiful front-end design</strong> &mdash; combining my 
      technical knowledge with my keen eye for design to create a <strong>beautiful product</strong>. My goal is to always build applications 
      that are <strong>scalable and efficient</strong> under the hood while providing <strong>engaging, pixel-perfect user experiences</strong>. In addition, I 
      love using <strong>blockchain technologies</strong> whenever possible, including Corda, Fabric, and Ethereum.
    </p>
    
    <p>
      As a <strong>product manager</strong>, I have an <strong>obsessive desire</strong> to design and ship <strong>consumer-loving and money-making</strong> apps. As any 
      cultured person, I use <strong>Agile</strong> for the best product development process, consistently acting as a liasion between 
      <strong>strategy, design, and development</strong> teams while juggling product roadmaps and a venti vanilla ice coffee. I pride myself 
      in being a collaborator <strong>&mdash; not a dictator</strong>, supporting my team and helping them grow while maintaining 
      tight deadlines. Being from a technical background, I am fluent in <strong>understanding tech-speak</strong> and through my 
      extensive UX experiences, I <strong>live and breathe consumer journey maps</strong>. I always look for the simplest, cost-effective 
      solution <strong>&mdash; even if it isn't technical</strong>.
    </p>

    <p>
      <strong>When I'm not developing or ideating</strong>, I'm probably writing <a class="underline-link" href="https://medium.com/@pronoyc" target="_blank" rel="noopener">a Medium article</a>, helping the Stack Overflow community, browsing Reddit, watching NBA games, or racking up some wins in Overwatch.
    </p>

    {% include employment-status.html %}
  </div>
</section>
